<div class="user">
  <div class="search">
    <label for="search" class="visually-hidden">Suche nach:</label>
    <input
      type="text"
      class="form-control"
      id="search"
      placeholder=""
      value=""
      required
    />
    <button
      type="button"
      id="searchButton"
      class="btn btn-primary btn-lg px-4 ms-2"
    >
      Suchen
    </button>
  </div>
  <!-- <div class="log">
    <form class="form login sm" action="{{ url_for('login') }}" method="post">
      <div>
        <input
          class="form-input sm"
          type="email"
          id="email"
          name="email"
          required
        />
        <label class="form-label sm" for="email">E-Mail</label>
      </div>

      <div>
        <input
          class="form-input sm"
          type="password"
          id="password"
          name="password"
          required
        />
        <label class="form-label sm" for="password">Passwort</label>
      </div>

      <button type="submit">Einloggen</button>
    </form>
  </div>-->
</div>
