<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='icons/favicon.ico') }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{ url_for('static', filename='icons/favicon-32x32.png') }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{ url_for('static', filename='icons/favicon-16x16.png') }}"
    />

    <title>{% block title %}bfw Kleinanzeigen{% endblock %}</title>
  </head>

  <body>
    {% include "header.html" %}
    <!-- -->
    {% with messages = get_flashed_messages() %}
    <!-- -->
    {% if messages %}
    <ul class="flash-messages">
      {% for message in messages %}
      <li class="flash-message">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}
    <main>
      <div class="layout-with-sidebar">
        <aside class="sidebar">
          {% include "partials/_user_sidebar.html" %}
          <!-- -->
          {% include "partials/_categories_sidebar.html" %}
          <!-- -->
        </aside>
        {% block content %} {% endblock %}
      </div>
    </main>
    {% include "footer.html" %}
  </body>
  <script
    type="module"
    src="{{ url_for('static', filename='js/main.js')}}"
  ></script>
</html>
