<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Tierverwaltung</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <a href="/">Startseite</a>

  <h1>Tierverwaltung</h1>
  
  <div class=""> <!-- Klasse in Vorbereitung fürs Stylesheet --> 

    <h2>Hier findest du deine Haustiere:</h2>

    <a href="/pet/new/{{ user_id }}">Neuen Freund anlegen</a> <!-- Momentan keinen Zugriff auf Nutzer von hier aus, dem Template wurde hier noch keine Info mitgegeben -->
    <br></br>

            <table class="">
                <tr>
                    <th>Name</th>
                    <th>Tierart</th>
                    <th>Verfügbarkeit</th>
                    <th>Aktionen</th>
                </tr>

                {% for pet in own_pets %}
                <tr>
                    <td>{{ pet.name }}</td>
                    <td>{{ pet.animal_type }}</td>
                    {% if pet.borrower_id is none %}
                    <td>verfügbar</td>
                    {% else %}
                    <td>ausgeliehen</td>
                    {% endif %}
                    <td><a href="/pet/{{ pet.pet_id }}/edit">Bearbeiten</a> <a href="/pet/{{ pet.pet_id }}">Details</a></td>
                </tr>

                {% endfor %}

            </table>
    
    <h2>Hier findest du deine ausgeliehenen Haustiere:</h2>

            <table>
                <tr>
                    <th>Name</th>
                    <th>Tierart</th>
                    <th>Besitzer-ID</th>
                    <th>Aktionen</th>
                </tr>

                {% for pet in borrowed_pets %}
                <tr>
                    <td>{{ pet.name }}</td>
                    <td>{{ pet.animal_type }}</td>
                    <td>{{ pet.owner_id }}</td>
                    <td> <a href="/pet/{{ pet.pet_id }}">Details</a></td>
                </tr>

                {% endfor %}

            </table>

   </div>

</body>
</html>
