{% extends 'base.html' %}
{% block title %}Adoptify - Tierverwaltung{% endblock %}
{% block content %}

  
  <div class="pet-management"> 
  <h1>Tierverwaltung</h1>

    <h2>Deine Haustiere:</h2>

    <a href="/pet/new/{{ user_id }}">Neuen Freund anlegen</a> 

            <table>
                <tr>
                    <th>Name</th>
                    <th>Tierart</th>
                    <th>Verfügbarkeit</th>
                    <th>Aktionen</th>
                </tr>

                {% for pet in own_pets %}
                <tr>
                    <td>{{ pet.name }}</td>
                    <td>{{ pet.animal_type }}</td>
                    <td>{{ pet.status }}</td>
                    <td><a href="/pet/{{ pet.pet_id }}/edit">Bearbeiten</a> <a href="/pet/{{ pet.pet_id }}">Details</a></td>
                </tr>

                {% endfor %}

            </table>
    
    <h2>Deine ausgeliehenen Haustiere:</h2>

            <table class="borrowed-pets-table">
                <tr>
                    <th>Name</th>
                    <th>Tierart</th>
                    <th>Besitzer-ID</th>
                    <th>Aktionen</th>
                </tr>

                {% for pet in borrowed_pets %}
                <tr>
                    <td>{{ pet.name }}</td>
                    <td>{{ pet.animal_type }}</td>
                    <td>{{ pet.owner_id }}</td>
                    <td> <a href="/pet/{{ pet.pet_id }}">Details</a></td>
                </tr>

                {% endfor %}

            </table>

   </div>


{% endblock %}