{% extends 'base.html' %}
{% block title %}Adoptify - {{ pet.name }} bearbeiten{% endblock %}
{% block content %}

    <div class="edit-formular">
        
        <h1>{{ pet.name }} bearbeiten</h1>

        <form method="POST">

            <label for="name">Name:</label><br>
            <input type="text" id="name" name="name" value="{{ pet.name }}"><br><br>

            <label for="animal_type">Tierart:</label><br>
            <input type="text" id="animal_type" name="animal_type" value="{{ pet.animal_type }}"><br><br>
        
            <label for="description">Tierart:</label><br>
            <textarea id="description" name="description" maxlength="200" rows="5" cols="40"> {{ pet.description }}</textarea><br><br>

            <button type="submit">Speichern & Zurück</button>

        </form>

    </div>


{% endblock %}